body {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Poiret One', cursive;
        /* background-color: powderblue; */
        background-image: url("./../assets/sheep.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;

    
}

h1 {
    font-family: 'Kalam';
    font-weight: 100;
    letter-spacing: 0.1em;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    text-align: center;
    display: block;
    font-size: 4rem;
    color: bisque;
   
}

h2 {
    color: bisque;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 20px;

    letter-spacing: 0.1em;
}

.centre-items {

    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
} 

input, textarea {
    background-color: white;
    border: none;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    box-shadow:0px 0px 0px 2px rgb(44, 148, 148) inset;
}


label {
    font-size: 1.5rem;
    font-weight: 50;
    letter-spacing: 0.1em;
    padding: 10px;
}

button {
    border: none;
    background-color: bisque;
    height: 30px;
    width: 100px;
    border-radius: 2px;
    font-family: 'Poiret One', cursive;
    /* box-shadow:0px 0px 0px 2px rgb(44, 148, 148) inset; */
}

.container {
    position: relative;

    height: 100%;
    padding: 0;
    margin: 0;
    
  }
  
  .row {
      width: auto;
  }
  
  svg, use {
      margin: 0;
      padding: 0;

    position: fixed;
    bottom: 0;
    right: 0;
  }

  .second-sheep {
    margin: 0;
    padding: 0;

  position: fixed;
  bottom: -30px;
  right: 200px;
  }

label {
    color: black;
}

.main-form {
    border-radius: 3px;
    padding: 30px;
    background-color: bisque;
}