  <h2>Good Morning!</h2>
  <h3>What did you dream?</h3>
  <form class="" action="/submit" method="post">
<label for="input-name">Name:</label>
<input type="text" name="name" value="" id="input-name" required><br>
<label for="input-date">Date:</label>
<input type="date" name="date" value="" id="input-date" required><br>
<label for="input-description">Description:</label>
<input type="text" name="description" value="" id="input-description" required><br>
<label for="input-keyword">Tag/Keyword:</label>
<input type="text" name="keyword" value="" id="input-keyword" required><br>
<button type="submit" name="button">Submit</button>
  </form>