{{#if dreams}}
    <h2>
    {{capitalise dreams.0.name}}'s dream diary
    </h2>
{{/if}}

{{#each dreams}}
    <div class=">
        <ul>
        <li>Date: {{date}}</li>
        <li>Description: {{description}}</li>
        <li>Keyword: {{keyword}}</li>
        </ul>
    </div>

{{/each}}

<a href="/">Enter a new dream</a>

