<h2>
    Your dream diary
</h2>

{{#each dreams}}
{{!-- {{#if user === res.body.user}}  --}}
{{!-- pseudocode to be replaced once we know what the response object looks like --}}
    <div>
        <ul>
        <li>Date: {{date}}</li>
        <li>Description: {{description}}</li>
        <li>-{{name}}</li>
        <li>Keyword: {{keyword}}</li>
        </ul>
    </div>
{{!--
{{/if}} --}}
{{/each}}

<a href="/">Enter a new dream</a>
{{!-- try it out to see if it links to the home endpoint --}}
