{{#if dreams}}
    <h2 class="diary_name">
    {{capitalise dreams.0.name}}'s dream diary
    </h2>
{{/if}}
<div class="diary_container">
{{#each dreams}}
    <div class="dream_container">
        <ul class="dream_list">
        <li>Date: {{formatDate date}}</li>
        <li>Description: {{description}}</li>
        <li>Keyword: {{keyword}}</li>
        </ul>
    </div>

{{/each}}

<a class="dream_new_button" href="/">Enter a new dream</a>

</div>
