
{{#each dreams}}
   <h2>
    {{capitalise name}}'s dream diary
</h2>


    <div>
        <ul>
        <li>Date: {{date}}</li>
        <li>Description: {{description}}</li>
        <li>Keyword: {{keyword}}</li>
        </ul>
    </div>

{{/each}}

<a href="/">Enter a new dream</a>

