<svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; left: -9999px;">
      <symbol id="sleep-sheep" viewBox="0 0 122 81">
      <g id="sleep-1" transform="translate(13.569697, 16.200000)" font-size="18" fill="#F7F708" font-family="Geneva" font-weight="bold">
        <text id="Z" transform="translate(15.563487, 16.034905) rotate(-24.720000) translate(-15.563487, -16.034905) ">
          <tspan x="4.38015341" y="21.5349055">Z</tspan>
        </text>
      </g>
      {{!-- <g id="sleep-2" transform="translate(25.884848, 29.109589)" font-size="18" fill="#F7F708" font-family="Geneva" font-weight="bold">
        <text id="Z" transform="translate(13.335207, 14.256637) rotate(7.880000) translate(-13.335207, -14.256637) ">
          <tspan x="2.15187382" y="19.7566372">Z</tspan>
        </text>
      </g>
      <g id="sleep-3" transform="translate(31.621212, 33.200000)" font-size="18" fill="#F7F708" font-family="Geneva" font-weight="bold">
        <text id="Z" transform="translate(16.032972, 16.034905) rotate(-24.720000) translate(-16.032972, -16.034905) ">
          <tspan x="4.84963826" y="21.5349055">Z</tspan>
        </text>
      </g> --}}
      <g id="back-leg" transform="translate(97.600000, 57.809589)" fill="#CCCACA">
        <path d="M0.386333333,10.129161 C0.386333333,10.129161 3.33466667,1.21916096 15.9616667,0.307910959 L18.1576667,0.307910959 C18.1576667,0.307910959 28.548,7.33466096 6.527,14.037411 C6.527,14.037411 1.586,15.677661 0.793,11.263161 L0.386333333,10.129161 Z" id="Shape"></path>
      </g>
      <g id="body" transform="translate(4.066667, 0.000000)" fill="#F2F0F0">
        <g id="Group" transform="translate(-0.000000, 0.000000)">
          <path d="M19.459,12.5145 C19.459,12.5145 24.888,2.53125 34.77,8.36325 C34.77,8.36325 46.1973333,-9.153 62.342,6.54075 C62.342,6.54075 76.9616667,0.6075 85.034,8.2215 C85.034,8.2215 105.082667,-0.10125 105.082667,21.6675 C105.082667,21.6675 113.846333,23.328 112.748333,34.02 C112.748333,34.02 121.166333,39.852 112.748333,46.91925 C112.748333,46.91925 118.360333,60.507 102.581667,65.14425 C102.581667,65.14425 103.273,69.19425 100.548333,70.00425 C100.548333,70.00425 58.7633333,88.857 40.5243333,75.6945 C40.5243333,75.6945 -0.142333333,68.769 10.7156667,48.924 C10.7156667,48.924 4.31066667,32.967 18.0966667,23.26725 C18.0966667,23.26725 11.0003333,18.00225 9.59733333,14.9445 L19.459,12.5145 Z" id="Shape"></path>
          <path d="M8.967,15.552 C8.967,15.552 2.03333333,21.87 6.1,34.60725 L10.1666667,52.67025 L18.8286667,20.27025 L9.71933333,15.00525 L8.967,15.552 Z" id="Shape"></path>
          <path d="M19.459,12.5145 C5.22566667,10.02375 5.22566667,22.9635 5.22566667,22.9635 C5.22566667,22.9635 -7.09633333,35.802 8.601,39.71025 C8.601,39.71025 -3.599,53.379 7.686,57.51" id="Shape"></path>
        </g>
        <polygon id="Shape" points="7.97066667 48.90375 6.832 57.1455 12.8506667 57.51 12.8506667 50.92875"></polygon>
      </g>
      <g id="sheep-head" transform="translate(0.000000, 4.050000)">
        <g id="head" fill="#CCCACA">
          <path d="M34.3226667,13.34475 C36.783,13.62825 39.345,13.14225 37.2506667,9.29475 C36.7423333,8.28225 41.8663333,1.80225 31.4353333,3.21975 C30.2356667,1.0125 27.8363333,-1.03275 24.9286667,2.53125 C23.0376667,1.539 16.2666667,-2.89575 15.5143333,3.05775 C15.5143333,3.05775 5.59166667,0.66825 11.4476667,6.1155 C10.3903333,6.075 5.49,11.34 14.2333333,11.745 L13.2166667,11.92725 C13.2166667,11.92725 12.017,13.46625 7.11666667,14.661 C2.21633333,15.85575 -1.01666667,18.24525 0.61,20.736 C2.23666667,23.22675 7.625,22.761 13.9486667,16.30125 C10.5326667,23.976 5.57133333,48.1545 23.363,48.1545 C28.3243333,48.1545 41.2563333,46.1295 35.7866667,20.87775 C38.3893333,23.652 42.761,26.83125 45.9533333,21.40425 C47.6003333,15.9165 37.759,15.65325 34.3226667,13.34475 Z" id="Shape"></path>
        </g>
        <g id="eyes" transform="translate(15.342424, 23.384589)" stroke="#545151" stroke-width="0.25" fill="#CCCACA">
          <path d="M0.639575758,0.712910959 C0.639575758,0.712910959 2.18490909,4.17566096 4.21824242,0.712910959" id="Shape"></path>
          <path d="M10.8062424,0.712910959 C10.8062424,0.712910959 12.3515758,4.17566096 14.3849091,0.712910959" id="Shape"></path>
        </g>
        <g id="nose" transform="translate(21.442424, 38.475000)" fill="#545151">
          <ellipse id="Oval" cx="1.53424242" cy="1.6605" rx="1.525" ry="1.51875"></ellipse>
        </g>
      </g>
      <g id="legs" transform="translate(6.100000, 56.700000)" fill="#CCCACA">
        <path d="M22.0006667,14.499 C22.0006667,14.499 26.6366667,6.399 39.1823333,7.857 C39.8736667,7.938 40.5921111,8.05275 41.3376667,8.20125 C41.3376667,8.20125 50.1623333,17.091 27.2466667,19.44 C27.2466667,19.44 22.082,20.10825 22.1633333,15.61275 L22.0006667,14.499 Z" id="Shape"></path>
        <path d="M18.9506667,14.60025 C18.9506667,14.60025 9.882,17.15175 2.03333333,7.22925 C1.59955556,6.67575 1.17255556,6.0885 0.752333333,5.4675 C0.752333333,5.4675 0.752333333,-7.047 18.7066667,7.39125 C18.7066667,7.39125 22.7733333,10.55025 19.6013333,13.689 L18.9506667,14.60025 Z" id="Shape"></path>
      </g>
    </symbol>
</svg>

<div class="container">
  <div class="row">
    <svg width="200px" height="200px">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sleep-sheep"></use>
    </svg>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; left: -9999px;">
      <symbol id="sleep-sheep" viewBox="0 0 122 81">
      <g id="sleep-1" transform="translate(13.569697, 16.200000)" font-size="18" fill="#F7F708" font-family="Geneva" font-weight="bold">
        <text id="Z" transform="translate(15.563487, 16.034905) rotate(-24.720000) translate(-15.563487, -16.034905) ">
          <tspan x="4.38015341" y="21.5349055">Z</tspan>
        </text>
      </g>
      {{!-- <g id="sleep-2" transform="translate(25.884848, 29.109589)" font-size="18" fill="#F7F708" font-family="Geneva" font-weight="bold">
        <text id="Z" transform="translate(13.335207, 14.256637) rotate(7.880000) translate(-13.335207, -14.256637) ">
          <tspan x="2.15187382" y="19.7566372">Z</tspan>
        </text>
      </g>
      <g id="sleep-3" transform="translate(31.621212, 33.200000)" font-size="18" fill="#F7F708" font-family="Geneva" font-weight="bold">
        <text id="Z" transform="translate(16.032972, 16.034905) rotate(-24.720000) translate(-16.032972, -16.034905) ">
          <tspan x="4.84963826" y="21.5349055">Z</tspan>
        </text>
      </g> --}}
      <g id="back-leg" transform="translate(97.600000, 57.809589)" fill="#CCCACA">
        <path d="M0.386333333,10.129161 C0.386333333,10.129161 3.33466667,1.21916096 15.9616667,0.307910959 L18.1576667,0.307910959 C18.1576667,0.307910959 28.548,7.33466096 6.527,14.037411 C6.527,14.037411 1.586,15.677661 0.793,11.263161 L0.386333333,10.129161 Z" id="Shape"></path>
      </g>
      <g id="body" transform="translate(4.066667, 0.000000)" fill="#F2F0F0">
        <g id="Group" transform="translate(-0.000000, 0.000000)">
          <path d="M19.459,12.5145 C19.459,12.5145 24.888,2.53125 34.77,8.36325 C34.77,8.36325 46.1973333,-9.153 62.342,6.54075 C62.342,6.54075 76.9616667,0.6075 85.034,8.2215 C85.034,8.2215 105.082667,-0.10125 105.082667,21.6675 C105.082667,21.6675 113.846333,23.328 112.748333,34.02 C112.748333,34.02 121.166333,39.852 112.748333,46.91925 C112.748333,46.91925 118.360333,60.507 102.581667,65.14425 C102.581667,65.14425 103.273,69.19425 100.548333,70.00425 C100.548333,70.00425 58.7633333,88.857 40.5243333,75.6945 C40.5243333,75.6945 -0.142333333,68.769 10.7156667,48.924 C10.7156667,48.924 4.31066667,32.967 18.0966667,23.26725 C18.0966667,23.26725 11.0003333,18.00225 9.59733333,14.9445 L19.459,12.5145 Z" id="Shape"></path>
          <path d="M8.967,15.552 C8.967,15.552 2.03333333,21.87 6.1,34.60725 L10.1666667,52.67025 L18.8286667,20.27025 L9.71933333,15.00525 L8.967,15.552 Z" id="Shape"></path>
          <path d="M19.459,12.5145 C5.22566667,10.02375 5.22566667,22.9635 5.22566667,22.9635 C5.22566667,22.9635 -7.09633333,35.802 8.601,39.71025 C8.601,39.71025 -3.599,53.379 7.686,57.51" id="Shape"></path>
        </g>
        <polygon id="Shape" points="7.97066667 48.90375 6.832 57.1455 12.8506667 57.51 12.8506667 50.92875"></polygon>
      </g>
      <g id="sheep-head" transform="translate(0.000000, 4.050000)">
        <g id="head" fill="#CCCACA">
          <path d="M34.3226667,13.34475 C36.783,13.62825 39.345,13.14225 37.2506667,9.29475 C36.7423333,8.28225 41.8663333,1.80225 31.4353333,3.21975 C30.2356667,1.0125 27.8363333,-1.03275 24.9286667,2.53125 C23.0376667,1.539 16.2666667,-2.89575 15.5143333,3.05775 C15.5143333,3.05775 5.59166667,0.66825 11.4476667,6.1155 C10.3903333,6.075 5.49,11.34 14.2333333,11.745 L13.2166667,11.92725 C13.2166667,11.92725 12.017,13.46625 7.11666667,14.661 C2.21633333,15.85575 -1.01666667,18.24525 0.61,20.736 C2.23666667,23.22675 7.625,22.761 13.9486667,16.30125 C10.5326667,23.976 5.57133333,48.1545 23.363,48.1545 C28.3243333,48.1545 41.2563333,46.1295 35.7866667,20.87775 C38.3893333,23.652 42.761,26.83125 45.9533333,21.40425 C47.6003333,15.9165 37.759,15.65325 34.3226667,13.34475 Z" id="Shape"></path>
        </g>
        <g id="eyes" transform="translate(15.342424, 23.384589)" stroke="#545151" stroke-width="0.25" fill="#CCCACA">
          <path d="M0.639575758,0.712910959 C0.639575758,0.712910959 2.18490909,4.17566096 4.21824242,0.712910959" id="Shape"></path>
          <path d="M10.8062424,0.712910959 C10.8062424,0.712910959 12.3515758,4.17566096 14.3849091,0.712910959" id="Shape"></path>
        </g>
        <g id="nose" transform="translate(21.442424, 38.475000)" fill="#545151">
          <ellipse id="Oval" cx="1.53424242" cy="1.6605" rx="1.525" ry="1.51875"></ellipse>
        </g>
      </g>
      <g id="legs" transform="translate(6.100000, 56.700000)" fill="#CCCACA">
        <path d="M22.0006667,14.499 C22.0006667,14.499 26.6366667,6.399 39.1823333,7.857 C39.8736667,7.938 40.5921111,8.05275 41.3376667,8.20125 C41.3376667,8.20125 50.1623333,17.091 27.2466667,19.44 C27.2466667,19.44 22.082,20.10825 22.1633333,15.61275 L22.0006667,14.499 Z" id="Shape"></path>
        <path d="M18.9506667,14.60025 C18.9506667,14.60025 9.882,17.15175 2.03333333,7.22925 C1.59955556,6.67575 1.17255556,6.0885 0.752333333,5.4675 C0.752333333,5.4675 0.752333333,-7.047 18.7066667,7.39125 C18.7066667,7.39125 22.7733333,10.55025 19.6013333,13.689 L18.9506667,14.60025 Z" id="Shape"></path>
      </g>
    </symbol>
</svg>

<div class="container">
  <div class="row">
    <svg class="second-sheep" width="200px" height="200px">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sleep-sheep"></use>
    </svg>
  </div>
</div>